<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootbly.batchprac.member.mapper.FileMemberMapper">
    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO file_member (
            member_id,
            deleted_at,
            created_at,
            updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.memberId},
            #{item.deletedAt},
            #{item.createdAt},
            #{item.updatedAt}
            )
        </foreach>
    </insert>

    <select id="findLatestByMemberId" resultType="com.rootbly.batchprac.member.domain.FileMember">
        SELECT
            ID,
            MEMBER_ID,
            DELETED_AT,
            CREATED_AT,
            UPDATED_AT
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY member_id ORDER BY updated_at DESC) as rn
            FROM FILE_MEMBER
        ) sub
        WHERE rn = 1
    </select>

</mapper>